{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-4 align-self-center">
                {% for message in app.flashes('success')  %}
                    <div class ="alert alert-success">
                    {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form, {'action': path('home'),'method': 'POST'}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <a href={{ path('register') }}>Register</a>
            </div>
        </div>
    </div>
{% endblock %}
